<html>
<head>
    <title></title>
    {% import '/macros.html' as macros %}
    {{ macros.common_source() }}
    <script type="text/javascript"  src="/static/echarts/dist/echarts.js?1.1"></script>
</head>
<body>
    <div style="margin-left: 10px; margin-top: 10px;">
        当前时间往前
        <select id="timeScope_combox" panelHeight="auto" style="width: 100px;">
            <option value="1">1小时</option>
            <option value="2">2小时</option>
            <option value="3">3小时</option>
            <option value="6">6小时</option>
            <option value="12">12小时</option>
            <option value="24">24小时</option>
            <option value="72">3天</option>
            <option value="168">7天</option>
        </select>
        <a href="javascript:void(0)" class="easyui-linkbutton c6" onclick="initCharts();" style="width:70px">确定</a>
    </div>
    <div>
        <h3 id="error_stat_charts_title" align="center" style="margin: 30px 0px 0px 0px;">异常消息统计图</h3>
        <div id="error_stat_charts" style="height:500px"></div>
    </div>

<script type="text/javascript">
    $(function(){
        $("#timeScope_combox").combobox();

        initCharts();
    });

    // 生成图表
    function initCharts(){
//        var time_scope = '{{time_scope}}';
//        if (!time_scope || time_scope == 'None') {
////            $('#timeScope_combox').combobox('setValue', time_scope);
//        }
        var time_scope = $('#timeScope_combox').combobox('getValue');

        initErrorCharts(time_scope);
    }

    // 生成横坐标是ip的图表
    function initErrorCharts(time_scope){
        $.ajax({
            type: 'POST',
            async: false,
            url: '/message/get_error_stat',
            data: {
                time_scope: time_scope,
                topic_name: '{{topic_name}}',
                group_name: '{{group_name}}',
                app_name: '{{app_name}}',
                ip: '{{ip}}'
            },
            success: function (res) {
                // 失败直接报错
                if(res.success!= "true"){
                    common.showCenter("错误", "错误,请稍后再试!");
                    return;
                }

                // 基于准备好的dom，初始化echarts图表
                var myChart = echarts.init(document.getElementById('error_stat_charts'));
                myChart.setOption(generateChartOption(res));
                myChart.on('click', function (param) {
                    var date_time = param.name;
                    var etype = (param.seriesName == "业务异常" ? 2 : 1);
                    var timestamp = Date.parse(new Date(date_time));
                    console.log(timestamp);
                    var url = "/monitorlog/index?timestamp=" + timestamp + "&etype=" + etype ;

                    console.log(url);

                    createTabPanelForChildren(date_time + "前十分钟" +param.seriesName , url);

                });
                var topic_name = res.topic_name;
                var group_name = res.group_name;
                var app_name = res.app_name;
                var ip = res.ip;
                var title_msg = '异常消息统计图'
                if(topic_name && topic_name!="None"){
                    title_msg += (' Topic:' + topic_name);
                }

                if(group_name && group_name!="None"){
                    title_msg += ' Group:' + group_name;
                }

                if(app_name && app_name!="None"){
                    title_msg += ' App:' + app_name;
                }

                if(ip && ip!="None"){
                    title_msg += ' IP:' + ip;
                }
                $("#error_stat_charts_title").text(title_msg);
            },
            dataType: 'json'
        });
    }

    // 生成echarts的option
    function generateChartOption(res){
        var send_error_list = [];
        var business_error_list = [];

        if(res.xAxis.length>0){
            send_error_list = res.send_error_list;
            business_error_list = res.business_error_list;
        }

        option = {
            tooltip : {
                trigger: 'axis',
                axisPointer : {            // 坐标轴指示器，坐标轴触发有效
                    type : 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
                }
            },
            legend: {
                data: ['发送异常', '业务异常']
            },
            grid: {
                left: '3%',
                right: '4%',
                bottom: '3%',
                containLabel: true
            },
            xAxis : [
                {
                    type : 'category',
                    data : res.xAxis
                }
            ],
            yAxis : [
                {
                    type : 'value'
                }
            ],
            series : [
                {
                    name: '发送异常',
                    type: 'bar',
                    itemStyle: {normal: {color: 'orange'}},
                    data: send_error_list
                },
                {
                    name: '业务异常',
                    type: 'bar',
                    itemStyle: {normal: {color: 'red'}},
                    data: business_error_list
                }
            ]
        };

        return option;
    }

</script>
</body>
</html>
