<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    {% import '/macros.html' as macros %}
    {{ macros.common_source() }}
</head>
<body>
<div id="cluster_toolbar">
    <input type="hidden" id="cluster_id" name="cluster_id" value="{{ cluster_id }}">

    <div style="margin-left: 25px">
        <input class="easyui-searchbox" data-options="searcher:doSearch" style="width:200px">
    </div>
</div>
<table id="topic_dg" method="post" style="width:100%;" url="/kafka/topic/list"
       fit="true"
       toolbar="#cluster_toolbar" singleSelect="true" fitColumns="true" rownumbers="true"
       sortName="name" pagination="true" pageSize="30">
    <thead>
    <tr>
        <th halign="center" field="topic_name" width="40%" sortable="true">topic名字</th>
        <th halign="center" field="partition_num" width="8%">分区数</th>
        <th halign="center" field="rep_num" width="8%">副本数</th>
        <th halign="center" field="broker_num" width="8%">Broker数</th>
        <th halign="center" field="group_num" formatter="formatterLink" width="8%">Group数</th>
        <th halign="center" field="speed" width="12%">生产消息数/s</th>
        <th halign="center" field="id" formatter="formatterButton" width="10%"></th>
    </tr>
    </thead>
</table>

<script type="text/javascript" charset="utf-8">
    $(function () {
        $('#topic_dg').datagrid({
            queryParams: {cluster_id: $('#cluster_id').val()}
        });
    });

    function formatterButton(value, rowData, rowIndex) {
        return '<a href="#" onclick="createTabPanelForChildren(\'Message统计[' + rowData.topic_name
                + ']\',\'/message/error_stat?topic_name=' + rowData.topic_name
                + '\')">Message统计信息</a>';
    }

    function formatterLink(value, rowData, rowIndex) {
        return '<a href="#" onclick="createTabPanelForChildren(\'' + rowData.topic_name
                + '\',\'/kafka/group/index?cluster_id=' + $('#cluster_id').val()
                + '&topic_name=' + rowData.topic_name
                + '&groups_str=' + rowData.groups_str
                + '\')">' + value + '</a>';
    }
    function doSearch(value) {
        $('#topic_dg').datagrid('reload', {cluster_id: $('#cluster_id').val(), sSearch: value});
    }
</script>
</body>
</html>