{% macro common_source() %}
    <link rel="stylesheet" type="text/css" href="/static/js/jquery-easyui/themes/default/easyui.css">
    <link rel="stylesheet" type="text/css" href="/static/js/jquery-easyui/themes/icon.css">
    <link rel="stylesheet" type="text/css" href="/static/js/jquery-easyui/themes/color.css">
    <link rel="stylesheet" type="text/css" href="/static/css/common.css">
    <script type="text/javascript" src="/static/js/jquery-easyui/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery-easyui/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery-easyui/easyloader.js"></script>
    <script type="text/javascript" src="/static/js/common.js?1.0"></script>
    <script type="text/javascript" src="/static/js/jquery-easyui/extension/datagrid-filter.js"></script>
    <script type="text/javascript" src="/static/js/jquery-easyui/extension/datagrid-detailview.js"></script>
    <script type="text/javascript" src="/static/js/jquery-easyui/locale/easyui-lang-zh_CN.js"></script>
    <script type="text/javascript" src="/static/js/common.js?1.0"></script>
{% endmacro %}

